@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

::selection {
	background: #81e979;
	color: white;
}

html{
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍕</text></svg>") 16 0,auto;
}

#root {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 18px;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(#9d4edd 0%, #81e979 100%);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(#9d4edd 0%, #81e979 100%);
}
a:focus {
	outline: 3px dashed #9d4edd !important;
}
.btn-header:focus {
	outline: 3px dashed #9d4edd !important;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #fafafa;
}
.container {
	display: flex;
	align-items: center;
	padding: 0px 15% 0px 15%;
	height: 75vh;
	width: 100vw;
	min-height: 500px;
	background: #fafafa;
}
.container h1 {
	font-weight: 400;
	color: #141414;
}
.container p {
	color: #9698a6;
}
.header-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 15px 15%;
}
.header-container img {
	justify-self: flex-start;
}
.main-nav-list {
	padding-inline-start: 0px;
}
.main-nav ul {
	text-align: center;
	justify-self: center;
	font-size: 16px;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline;
	padding: 0.5em 1.5em;
	text-decoration: none;
	color: #9698a6;
}
.main-nav a:hover {
	color: #141414;
}
.btn-header {
	min-width: 150px;
	height: 50px;
	border-radius: 10rem;
	border: none;
	background: linear-gradient(90deg, #9d4edd 0%, #81e979 100%);
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}
.next-gen-container {
	width: 500px;
}
.next-gen-container p {
	margin: 30px 0px;
}
.next-gen-container h1 {
	color: #141414;
	margin: 0;
	font-weight: 300;
	font-size: 52px;
}
.choose-easybank-container {
	flex-flow: wrap row;
	align-items: flex-start;
	background: #f3f4f6;
	padding-bottom: 20px;
	height: 550px;
}
.choose-easybank-header {
	order: 1;
	margin-top: 50px;
}
.choose-easybank-header h1 {
	color: #141414;
}
.choose-easybank-header p {
	color: #9698a6;
}
.choose-easybank-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	order: 2;
	height: auto;
	width: 100vw;
	display: flex;
}
.choose-easybank-list-item {
	flex: 0 1 150px;
/* No stretching: */
}
.choose-easybank-list-item p {
	color: #9698a6;
	font-size: 14px;
}
.choose-easybank-list-item h3 {
	font-weight: 400;
	color: #141414;
}
.latest-articles-container {
	display: flex;
	flex-flow: wrap row;
	align-content: flex-start;
	order: 1;
	height: 700px;
	padding-bottom: 100px;
}
.latest-articles-container h1 {
	flex: 1 0 100%;
	margin: 100px 0 0 0;
	font-size: 42px;
	font-weight: 300;
}
.latest-articles-articles {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	margin-bottom: 50px;
}
.article-container {
	height: auto;
	flex: 0 1 250px;
	background-color: #fff;
	margin-top: 50px;
	border-radius: 30px 30px 0 0;
	cursor: pointer;
}
.article-container img {
	width: 100%;
	height: 200px;
	border-radius: 20px 20px 0 0;
}
.article-container a {
	color: #141414;
	font-weight: 400;
	text-decoration: none;
}
.active {
	color: #9d4edd !important;
	border-bottom: 3px dashed #9d4edd !important;
}
.active:focus {
	border: none;
}
.article-body {
	padding: 15px 40px;
	height: 200px;
}
.article-body .article-author {
	font-size: 12px;
	color: #9698a6;
}
.article-body h4 {
	color: #141414;
	font-weight: 400;
}
.article-body p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin: 0;
}
.article-container:hover a {
	color: #9d4edd !important;
}
@media only screen and (max-width: 1440px) {
	.article-container {
		flex: 0 1 23%;
}
	.article-body p {
		font-size: 14px;
}
}
.footer-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #141414;
	min-height: 0px;
	max-height: 200px;
	color: #fff;
	padding: 15px 15% 15px 15%;
}
.footer-logos {
	display: flex;
	flex-flow: wrap column;
	width: 200px;
}
.footer-logos div {
	margin-top: 50px;
}
.footer-logos img {
	margin-right: 0.75rem;
	cursor: pointer;
}
.footer-links {
	display: flex;
	width: 50%;
	height: 94px;
	margin: 0 5% 0 5%;
	text-align: center;
}
.footer-links a {
	display: block;
	text-decoration: none;
	color: #9698a6;
	margin-bottom: 1rem;
}
.footer-links a:hover {
	color: #f3f4f6;
}
.footer-links-left {
	flex: 0 1 50%;
	min-height: 100%;
	max-width: 50%;
}
.footer-links-right {
	flex: 0 1 50%;
	min-height: 100%;
	max-width: 50%;
}
.footer-links-button {
	display: flex;
	flex-flow: wrap column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 200px;
}
.footer-links-button p {
	margin-top: 30px;
	font-size: 12px;
}
.restaurants-container {
	height: 100%;
	margin-top: 81px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 50px;
}
.restaurants-searchbar {
	height: 25px;
	width: calc(100% - 24px);
	margin-top: 15px;
	border-radius: 10rem;
	border: 3px solid #9d4edd !important;
	font-size: 26px;
	padding: 10px;
	font-weight: 300;
}
.restaurants-searchbar:focus {
	border: 3px dashed #9d4edd !important;
	outline: none;
}
.restaurants-form {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.restaurants-form .field {
	display: flex;
	flex-flow: column-reverse;
	position: relative;
	width: 100%;
}

.restaurants-form .field input {
	font-family: 'Montserrat', sans-serif;
}

.restaurants-form .field label {
	font-family: 'Montserrat', sans-serif;
}
.restaurants-form label {
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #7e7e7e;
	pointer-events: none;
}
.restaurants-form label, .restaurants-form input {
	transition: all 0.3s;
	touch-action: manipulation;
}
.restaurants-form input {
	font-size: 25px !important; 
	border: 1px solid #d8d8d8;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 18px;
	cursor: text;
	font-family: Roboto;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: black;
	border-radius: 10rem;
	border: 3px solid #9d4edd !important;
	font-size: 26px;
	padding: 10px;
	font-weight: 300;
}
.restaurants-form input:focus {
	border: 3px dashed #9d4edd !important;
	outline: none;
}
.restaurants-form input:placeholder-shown + label {
	cursor: text;
	max-width: 66.66%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: top left;
	transform: translate(1rem, 3.5rem) scale(1.5);
}

.restaurants-form label {
	margin-left: 10px;
}
.restaurants-form ::placeholder {
	opacity: 0;
	transition: inherit;
}
.restaurants-form input:focus::placeholder {
	opacity: 0.5;
}
.restaurants-form input:not(:placeholder-shown) + label, .restaurants-form input:focus + label {
	transform: translate(1rem, 0.5rem) scale(1);
	cursor: text;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #7e7e7e;
}
.restaurant-card {
	width: 100%;
	height: 150px;
	display: flex;
	background-color: #f5f5f5;
	margin: 15px 0 15px 0;
	border-radius: 2rem;
	transition: ease-in 300ms;
}
.restaurant-card img {
	height: 100%;
	border-radius: 2rem 0 0 2rem;
}
.restaurant-card h3 {
	font-weight: 400;
	color: #141414;
}
.restaurant-card-body {
	padding: 10px;
}
.restaurant-card-body a {
	text-decoration: none;
}
.restaurant-card-body a:hover{
	color: #9d4edd !important;
}
.restaurant-card-body p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin: 0;
}
.restaurant-card:hover {
	cursor: pointer;
}
.restaurant-card:hover h3 {
	color: #9d4edd !important;
}
.restaurant-card:hover a {
	color: #9d4edd !important;
}
.restaurant-container {
	height: 100%;
	margin-top: 81px;
	display: block;
}

.restaurant-image {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-end;
	background-image: url("https://source.unsplash.com/1347x309/?restaurant,food");
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f5f5f5;
	font-size: 32px;
	font-weight: 700;
}

.restaurant-image__name {
	padding: 15px;
	background-color: #9d4edd !important;
	position: sticky;
}

.restaurant-body {
	height: 100vh;
	width: 100%;
	background-color: #f5f5f5;
	padding: 10px;
}

.restaurant-body__header {
	font-size: 12px;
	color: #9698a6;
	margin-top: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.restaurant-body__info {
	padding: 20px;
}
strong {
	color: #9d4edd !important;
}
.privacy-policy-container-color {
	padding: 0px 180px 0px 180px;
	background-color: #f5f5f5;
}
.privacy-policy-container {
	display: block;
	height: 100%;
	padding: 81px 20px 50px 20px;
	background-color: white;
}
.privacy-policy-container p {
	color: #9698a6;
}
.privacy-policy-container li {
	color: #9698a6;
}
.privacy-policy-container li::marker {
	color: #9d4edd !important;
}
.privacy-policy-container h2 {
	color: #9d4edd !important;
}
.privacy-policy-container a {
	text-decoration: none;
	color: #9d4edd !important;
	border-bottom: 3px dashed #9d4edd !important;
}
.privacy-policy-container a:focus {
	border-bottom: none;
}
.login-container {
	height: 100vh;
	width: calc(100vw - 400px);
	justify-content: center;
	align-items: center;
}
.login {
	width: 400px;
	padding: 25px 50px;
	border-radius: 1rem;
	border: 3px solid #9d4edd !important;
	background-color: #f5f5f5;
}
.login-form {
	display: flex;
	flex-flow: wrap column;
}
.login-form * {
	margin-top: 0.5rem;
	width: 300px;
	font-family: 'Montserrat', sans-serif;
}
.login-form input {
	width: calc(300px - 24px);
	border-radius: 10rem;
	border: none;
	padding: 10px;
	border: 2px solid #9d4edd !important;
	font-family: 'Montserrat', sans-serif;
}
.login-form input:focus {
	outline: none;
	border: 2px dashed #9d4edd !important;
}
.profile-container {
	height: calc(100vh - 81px);
	margin-top: 81px;
	align-items: flex-start;
	flex-flow: wrap row;
}
.profile-header {
	position: relative;
	display: flex;
	flex-flow: wrap row;
	width: 100%;
	height: 33vh;
	background-color: #b579e5;
	padding: 25px;
	min-height: calc(33vh + 50px);
}
.profile-header h1, .profile-header h4, .profile-header h5 {
	color: white;
	font-weight: 400;
}
.profile-header__info {
	margin-left: 2rem;
}
.profile-header__image {
	width: 200px;
	height: 200px;
	border-radius: 10rem;
	background-image: url("../components/Article/image-restaurant.jpg");
}
.profile-header__editBtn {
	position: absolute;
	bottom: 0;
	right: 0;
}
.profile-body {
	width: 100%;
	height: calc((100vh - 33vh - 131px));
	background-color: #f5f5f5;
	padding: 25px;
}

@media only screen and (max-width: 1200px) {
	.header-container .btn-header {
		visibility: hidden;
}
}
@media only screen and (max-width: 900px) {
	.header-container {
		padding: 15px 50px;
}
	.btn-header {
		visibility: hidden;
}
	.container {
		padding: 0px 50px 0px 50px;
}
}

